openapi: 3.0.3
info:
  title: Nordic Governments API - business information
  description: >-
    With this API you can retrieve information about registered organisations
    (includes company, business, sole trader, non-profit association etc). The
    API use POST instead of GET because we don't want to display identification
    number (which can be considered sensitive personal data) in the URL.
  termsOfService: https://bolagsverket.se
  version: 1.0.0
  x-logo:
    url: logo.svg
externalDocs:
  url: http://uri.suomi.fi/datamodel/ns/agent2
  description: Datamodel for the API

servers:
  - url: https://gw.api.bolagsverket.se/nordicinformation/v1/
security:
  - OAuth2:
      - foretagsinformation:read
  - BearerToken: []
tags:
  - name: nordicinformation
    description: API to retrieve data about registered organisations.
  - name: isalive
    description: API to control the status of the service
paths:
  /v1/registeredorganisations:
    $ref: paths/registeredorganisations.yaml
  /v1/isalive:
    $ref: paths/isalive.yaml
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /oauth2/token
          scopes:
            foretagsinformation:read: Read rights to Företagsinformation
            foretagsinformation:monitor: Monitor rights to Företagsinformation
          x-scopes-bindings:
            foretagsinformation:read: api-foretagsinformation-read
            foretagsinformation:monitor: api-foretagsinformation
    BearerToken:
      type: http
      scheme: bearer
    default:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://gw.api.bolagsverket.se/authorize
          scopes:
            foretagsinformation:monitor: Monitor rights to Företagsinformation
            foretagsinformation:read: Read rights to Företagsinformation
          x-scopes-bindings:
            foretagsinformation:monitor: api-foretagsinformation
            foretagsinformation:read: api-foretagsinformation-read
