openapi: 3.0.3
info:
  title: Nordic Governments API - business information
  termsOfService: https://example.com/terms/
  contact:
    email: contact@example.com
    url: http://example.com/contact
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  description:
    $ref: ./description.md
  version: 1.0.1
  x-logo:
    url: logo.svg
servers:
  - url: https://gw.api.bolagsverket.se/nordicinformation/v1
security:
  - OAuth2:
      - foretagsinformation:read
  - BearerToken: []
tags:
  - name: nordicinformation
    description: API to retrieve data about registered organisations.
  - name: isalive
    description: API to control the status of the service
paths:
  /v1/registered-organisations:
    $ref: paths/registeredorganisations.yaml
  /v1/is-alive:
    $ref: paths/isalive.yaml
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /oauth2/token
          scopes:
            foretagsinformation:read: Read rights to Företagsinformation
            foretagsinformation:monitor: Monitor rights to Företagsinformation
          x-scopes-bindings:
            foretagsinformation:read: api-foretagsinformation-read
            foretagsinformation:monitor: api-foretagsinformation
    BearerToken:
      type: http
      scheme: bearer
    default:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://gw.api.bolagsverket.se/authorize
          scopes:
            foretagsinformation:monitor: Monitor rights to Företagsinformation
            foretagsinformation:read: Read rights to Företagsinformation
          x-scopes-bindings:
            foretagsinformation:monitor: api-foretagsinformation
            foretagsinformation:read: api-foretagsinformation-read
